body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Open Sans';
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background-color: rgba(29, 47, 48);
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(186, 226, 73);
}

a {
    border: none;
    color: white;
    text-decoration: none;
}

.header {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    margin-left: auto;
    padding: 20px 0 20px 100px;
    background-color: rgb(29, 47, 48);
    align-items: center;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.logo {
    margin-right: 125px;
}

.header_menu {
    display: flex;
    gap: 64px;
    color: white;
}

.header_icons {
    display: flex;
    margin-left: auto;
    margin-right: 150px;
    gap: 64px;
}

#open {
    display: flex;
}

#close {
    display: none;
}

.burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
    margin-right: 100px;
}

.burger span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: white;
}

.burger::before, .burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease 0s;
}

.burger::before { top: 0; }

.burger::after { bottom: 0; }

.burger.active span { transform: scale(0); }

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

.header_icons:hover {
    cursor: pointer;
}

.catalog:hover {
    color: rgb(186, 226, 73);
}

.gallery:hover {
    color: rgb(186, 226, 73);
}

.about_laboratory:hover {
    color: rgb(186, 226, 73);
}

.contacts:hover {
    color: rgb(186, 226, 73);
}

.description {
    display: flex;
    flex-direction: column;
    background-color: rgb(29, 47, 48);
    height: 550px;
    width: 100%;
}

.description_img {
    position: absolute;
    opacity: 0.5;
}

.description_h1 {
    position: relative;
    z-index: 50;
    font-family: 'Cormorant';
    font-size: 60px;
    font-weight: 700;
    line-height: 100%;
    margin-left: 100px;
    user-select: none;
}

.description_text {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    position: relative;
    z-index: 50;
    margin-bottom: 35px;
    margin-left: 100px;
}

.description_link {
    display: flex;
    position: absolute;
    z-index: 50;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    width: 150px;
    margin-left: 95px;
    padding-left: 5px;
}

.description_link img {
    margin-top: 4px;
    margin-left: 8px;
    width: 37px;
}

.description_wrapper {
    margin-top: 80px;
    width: 688px;
}

#green_link {
    color: rgb(186, 226, 73);
}

.description_link:hover {
    border: solid 1px;
    color: rgb(186, 226, 73);
}

.section_wrapper {
    height: 660px;
    background-color: rgb(29, 47, 48);
}

.section_2 {
    padding-top: 60px;
    padding-bottom: 62px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    width: 255px;
    height: 493px;
    padding-bottom: 24px;
    border: solid 1px;
    border-color: rgb(11, 25, 25);
    position: relative;
}

.card_img {
    display: flex;
    flex-direction: row;
    background-color: rgb(11, 25, 25);
    width: 255px;
    height: 180px;
}

.group_204 {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-top: 16px;
    margin-left: 16px;
}

.layer {
    margin: 30px 16px 30px 16px;
}

.card_header {
    font-family: 'Cormorant';
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    margin: 16px 0 8px 16px;
}

.card_text {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-right: 16px;
    margin-left: 16px;
    color: rgb(137, 157, 157);
}

.card_btn {
    border: 1px solid rgb(186, 226, 73);
    background-color: rgb(29, 47, 48);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 20.5px 59px 20.5px 59px;
    color: rgb(186, 226, 73);
    margin-left: 16px;
    position: absolute;
    bottom: 24px;
}

.card_btn:hover {
    cursor: pointer;
}

.case_for_arrows {
    display: flex;
    column-gap: 50px;
    opacity: 0;
}

.artifacts_wrapper {
    display: flex;
}

.new_artifacts {
    display: flex;
    flex-direction: column;
    background-color: rgb(29, 47, 48);
    padding-left: 100px;
    padding-bottom: 60px;
}

.new_artifacts_p {
    font-family: 'Cormorant';
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
}

.artifacts_images {
    display: flex;
    flex-direction: column;
    background: rgb(11, 25, 25);
    padding: 16px;
    max-width: 825px;
}

.Moss03, .Moss06 {
    margin-right: 50px;
}

.Moss06 {
    margin-bottom: 18px;
}

.Layer21 {
    position: absolute;
}

.Polypody {
    position: relative;
}

.Bark05 {
    margin-left: 43px;
    margin-right: 53px;
}

.artifacts_info {
    max-width: 255px;
    background: rgb(186, 226, 73);
    margin-left: 30px;
    padding: 16px 16px 24px 16px;
    margin-right: 10px;
}

.artifacts_info_in_section2 {
    display: none;
    max-width: 255px;
    background: rgb(186, 226, 73);
    padding: 16px 16px 24px 16px;
}

.p_info {
    color: rgb(80, 104, 41);
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.a_info {
    color: rgb(11, 25, 25);
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    
}

.artifacts_h1 {
    color: rgb(29, 47, 48);
    font-family: Cormorant;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
}

.info_wrapper {
    margin-top: 75px;
}

.section_form {
    background: rgb(29, 47, 48);
    height: 470px;
}

.artifacts_img1 {
    width: 100px;
    height: 115px;
    margin-right: 49px;
}

.artifacts_img2 {
    display: flex;
    padding-right: 300px;
}

.group {
    display: flex;
}

.artifacts_img {
    display: flex;
}

.img72 {
    position: absolute;
    margin-left: 159px;
}

.img27 {
    position: absolute;
    margin-left: 130px;
    margin-top: 30px;
}

.img51 {
    position: absolute;
    margin-top: 187px;
    margin-left: 140px;
}

.img91 {
    position: absolute;
    margin-top: 269px;
    margin-left: 109px;
}

.img17 {
    position: absolute;
    margin-left: 184px;
}

.img23 {
    position: absolute;
    margin-top: 269px;
    margin-left: 54px;
}
.section_form {
    background: rgb(29, 47, 48);
    width: 100%;
    height: 463px;
}

.form_background {
    width: 100vw;
}

.inputs {
    display: flex;
    flex-direction: column ;
    position: relative;
    gap: 24px;
}

.form_h {
    font-family: 'Cormorant';
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
}

.form_name {
    width: 350px;
    height: 45px;
    padding: 0px 0px 0px 16px;
    border: none;
    outline: none;
}

.form_btn {
    background: rgb(186, 226, 73);
    border: none;
    color: rgb(11, 25, 25);
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    width: 145px;
    height: 45px;
}

.form_text {
    width: 825px;
    height: 72px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 16px;
    margin-bottom: 24px;
}

.form_wrapper {
    display: flex;
    position: absolute;
    flex-direction: column  ;
    margin-top: 60px;
    margin-left: 100px;
}

.form_background2 {
    display: none;
    width: 100vw;
}

.footer_top {
    height: 60px;
    background: rgb(11, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.footer_bottom {
    color: rgb(137, 157, 157);
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    background: rgb(29, 47, 48);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 22px;
}



@media (min-width: 1200px) {
    
}

@media (992px <= width <= 1200px) {
    body {
        max-width: 1200px;
    }
    .header {
        padding: 20px 20px 20px 40px;
    }
    .header_icons {
        margin-left: 120px;
    }
    .description {
        height: 430px;
    }
    .description_h1 {
        margin: 35px 0 35px 40px;
    }
    .description_text {
        width: 600px;
        margin-left: 40px;
        margin-bottom: 25px;
    }
    .description_link {
        margin-left: 35px;
    }
    .section_2 {
        padding: 30px 0 45px 20px;
    }
    .cards {
        justify-content: center;
        gap: 20px;
    }
    .card {
        width: 215px;
    }
    .card_img {
        width: 215px;
        height: 160px;
    }
    .card_btn {
        padding-left: 56px;
        padding-right: 56px;
    }
}

@media (768px <= width <= 991px ) {
    .header {
        padding: 20px;
    }
    .logo {
        margin-right: 50px;
    }
    .header_menu {
        gap: 30px;
    }
    .header_icons {
        margin-top: 6px;
        gap: 30px;
        margin-left: 100px;
    }
    .description {
        height: 400px;
    }
    .description_h1 {
        margin: 20px;
    }
    .description_text {
        margin-left: 20px;
        margin-bottom: 20px;
        font-size: 21px;
    }
    .description_link {
        margin-left: 15px;
        font-size: 20px;
    }
    .section_2 {
        padding: 60px 0 32px 0;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        column-gap: 80px;
        justify-content: center;
    }
}

@media (480px <= width <= 767px) {
    .header {
        padding: 20px 0 20px 10px;
        display: flex;
        flex-direction: row;
        position: fixed;
        justify-content: space-around;
        overflow: hidden;
    }
    .header_icons {
        margin: 0;
        padding: 0;
        gap: 30px;
    }
    .burger {
        display: flex;
        z-index: 100;
        margin-right: 0;
        margin-left: 100px;
    }
    .logo {
        margin-right: 50px;
    }
    .header_menu {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 200px;
        width: 100%;
        z-index: 100;
        background-color: rgb(29, 47, 48);
        top: 0; bottom: 0; left: 0; right: 0;
        gap: 25px;
        padding: 30px 30px;
        overflow-y: auto;
        animation: burgerAnimation 0.5s;
    }
    .description {
        height: 450px;
        justify-content: center;
        padding-bottom: 50px;
    }
    .description_wrapper {
        margin-top: 50px;
    }
    .description_h1, .description_link {
        max-width: 400px;
        margin-top: 0;
        margin-bottom: 25px;
    }
    .description_text {
        display: none;
    }
    .section_2 {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        justify-content: start;
        align-items: start;
        position: relative;
        width: auto;
    }
    .section_wrapper {
        height: 100%;
        justify-content: space-around;
    }
    .cards {
        width: 257px;
        height: 540px;
        position: relative;
        overflow: hidden;
    }
    .card {
        position: absolute;
        opacity: 0;
        transition: opacity 0.5 ease;
    }
    .card.slider {
        opacity: 1;
    }
    .case_for_arrows {
        opacity: 1;
        width: 257px;
    }
    .left, .right {
        height: 30px;
        width: 103px;
        border: 1px solid rgb(186, 226, 73);
        background: rgb(29, 47, 48);
        color: rgb(186, 226, 73);
    }
    .new_artifacts {
        padding: 20px;
    }
    .artifacts_images {
        display: flex;
        flex-wrap: wrap;
        overflow-x: scroll;
        overflow-y: hidden;
        height: 500px;
    }
    .artifacts_info {
        display: none;
    }
    .artifacts_img {
        position: relative;
    }
    .artifacts_img2 {
        position: relative;
    }
    .artifacts_info_in_section2 {
        display: inline;
        width: 257px;
        height: 478px;
    }
    .info_wrapper {
        margin-top: 50px
    }
    .info_wrapper img {
        width: 33px;
        margin-left: 3px;
    }
    .artifacts_h1 {
        margin-top: 10px;
    }
    .section_wrapper {
        display: flex;
        flex-wrap: wrap;
        padding-top: 50px;
    }
    .form_text {
        display: none;
    }
    .form_h {
        margin-bottom: 20px;
    }
    .form_wrapper {
        margin-left: 40px;
    }
    .form_background {
        display: none;
    }
    .form_background2 {
        display: block;
        position: absolute;
    }
    .footer_top {
        height: 64px;
        position: relative;
        width: 100%;
    }
    .footer_bottom {
        height: 26px;
        position: relative;
        width: 100%;
    }
}

@media (min-width: 320px) {
    
}

@keyframes burgerAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}














@font-face {
    font-family: "Cormorant";
    src: url(fonts/Cormorant/Cormorant-Bold.ttf);
    src: url(fonts/Cormorant/Cormorant-Light.ttf);
    src: url(fonts/Cormorant/Cormorant-Medium.ttf);
    src: url(fonts/Cormorant/Cormorant-Regular.ttf);
}

@font-face {
    font-family: "Open Sans";
    src: url(fonts/Open_Sans/OpenSans-Bold.ttf);
    src: url(fonts/Open_Sans/OpenSans-Light.ttf);
    src: url(fonts/Open_Sans/OpenSans-Medium.ttf);
    src: url(fonts/Open_Sans/OpenSans-Regular.ttf);
}